h2 {
    text-transform: uppercase;
    font-size: 48px;
    color: white;
}

.SearchResults {
    background-color: #14161a;
    padding: 40px;
    margin-top: 50px;
    min-width: 500px;
    border-radius: 25px;
}