.SearchBar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.SearchBar input {
    width: 500px;
    border-radius: 25px;
    padding: 5px;
    height: 50px;
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.SearchBar input:hover {
    background-color:rgb(240, 239, 239);
} 

.SearchButton {
    background-color: #1DB954;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 20px;
    margin-left: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.SearchButton:hover {
    background-color: #19b650;
}

