.search-bar {
    width: 100%; 
    max-width: 1000px; 
    margin: 0 auto; 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar input[type="text"] {
    width: 100%; 
    max-width: 500px; 
    padding: 10px;
    border: 2px solid #ccc; 
    border-radius: 15px; 
    font-size: 16px; 
    outline: none; 
    transition: border-color 0.3s ease; 
}

.search-bar input[type="text"]:focus {
    border-color: #0073e6; 
}

.search-bar input[type="text"]::placeholder {
    color: #aaa; 
    font-style: italic; 
    margin: 0 5px;
}

.searchButton {
    width: 50%;
    margin-top: 1rem;
    font-size: 32px;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
    background-color: #0073e6;
    color: #ccc
}

.searchButton:hover {
    width: 50%;
    margin-top: 1rem;
    font-size: 32px;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
    background-color: #0368cc;
    color: #aaa; 
    box-shadow: 2px #aaa;
}