.Playlist {
    background-color: #14161a;
    padding: 40px;
    margin-top: 50px;
    min-width: 500px;
    border-radius: 25px;
}

.Playlist input {
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
    font-size: 48px;
    color: white;
    font-weight: bolder;
    width: 300px;
}

.Playlist-save {
    background-color: #1DB954;
    height: 50px;
    border-radius: 25px;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.Playlist-save:hover {
    background-color: #19b650;
}
